@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
body{
    max-width: 500px;
    margin: auto;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  margin: auto;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 120%;
  /* background-position-y: center; */
}
.menu a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
.menu .btn {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  border-radius: 10px;
  width: 17rem;
  font-size: 1.5rem;
  color: white;
  margin: 10px;
  border: 3px solid yellow;
  background: rgb(9, 60, 3);
  background: linear-gradient(
    135deg,
    rgba(9, 60, 3, 1) 56%,
    rgba(204, 208, 7, 1) 100%
  );
}
/* .menu img{
    width: 70%;
} */
.swiper {
  width: 98%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #000; */
  /* margin: auto 1px; */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 95%;
  object-fit: cover;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0;
    left: 0;
    width: 100%;
}
.bg-black{
    background-color: black;
    background-image: none;
}
.bg-white{
    background-color: white;
    background-image: none;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    position: absolute;
    bottom: 0px;
}
.box{
    text-align: center;
    color: white;
    font-size: 1.2rem;
    position: absolute;
    bottom: 10px;
}

#noor13{
    background-image: url('images/noor13-min.png'); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#noor12{
    background-image: url('images/noor12-min.png'); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#noor11{
    background-image: url('images/noor11-min.png'); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#noor10{
    background-image: url('images/noor10-min.png'); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#noor9{
    background-image: url('images/noor9-min.png'); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#noor8{
    background-image: url('images/noor8-min.png'); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#noor7{
    background-image: url('images/noor7-min.png'); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#noor6{
    background-image: url('images/noor6-min.png'); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#noor5{
    background-image: url('images/noor5-min.png'); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#noor4{
    background-image: url('images/noor4-min.png'); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#noor3{
    background-image: url('images/noor2-min.png'); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#noor2{
    background-image: url('images/noor2-min.png'); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#noor1{
    background-image: url('images/noor1-min.png'); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
